body {
    background-color: #777;
    font-family: Sans-Serif;
    margin: 0 auto;
    max-width: 75%;
    padding: 10px;
    text-align: center;
}
.bg-light-gray {
    background-color: #ebebeb;
    color: #777;
}
.bg-dark-gray {
    background-color: #777;
    color: #ebebeb;
}
.full-width {
    margin-bottom: 10px;
    padding: 30px;
}
.container {
    margin: 20px 0;
}
.container::after {
    clear: both;
    content: "";
    display: block;
}
section {
    float: left;
    margin-right: 20px;
    padding: 30px 10px 10px;
    width: 60%;
}
article {
    margin-top: 20px;
    padding: 20px;
}
h3 {
    margin: 15px 0 10px;
    padding: 15px;
}
p {
    margin: 0;
    padding: 15px;
}
aside {
    float: right;
    height: 221px;
    padding: 20px;
    width: 30%;
}

@media only screen and (max-width: 1080px) {
    section {
        width: 55%;
    }
}
@media only screen and (max-width: 730px) {
    section {
        width: 50%;
    }
    aside {
        width: 25%;
    }
}